/*holderフォント*/
@import url(https://fonts.googleapis.com/css2?family=Nerko+One&display=swap);
/*area以下のフォント*/
@import url(https://fonts.googleapis.com/css?family=M+PLUS+1p);

/*背景の設定*/
body {
  margin: 0;
}

.holder{
  height: 100vh;
  width: 100vw;
  position: relative;
  background-image: image-url("tent3.png");
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
  text-align: center;

}


/*テキストの指定*/
.txt {
  font-family: 'Nerko One', cursive;
  font-size: 80px;
  margin-top: 300px;
  position: absolute;
  width: 100%;
  z-index: 2;
  color: blanchedalmond;
  text-shadow:1px 0 5px black;
}

h1 {
  font-size: 40px;
  font-weight: 400;
  margin: 0;
}
p {
  font-size: 20px;
  margin-top: 26px;
}
/*body-1*/

.area h2 {
  font-family: "M PLUS 1p";
  font-size: 45px;
  text-align: center;
  margin: 5px;
}

.holder2{
  height: 100vh;
  width: 100vw;
  position: relative;
  background-image: image-url("family.png");
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  z-index: 0;
}

.holder2::before{
  content: '';
  background: inherit;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
}

.txt1 {
  font-size: 50px;
  margin-top: 100px;
  position: absolute;
  width: 100%;
  z-index: 2;
  color: #ffffff;
  text-shadow: 1px 0 5px black;
}

.txt2 {
  margin: 10px 0;
  font-family: "Nico Moji";
}

