/*フォント*/
@import url(https://fonts.googleapis.com/css?family=M+PLUS+1p);

.index-body{
  background-attachment: fixed;
  background: radial-gradient(rgb(236, 235, 235),rgba(133, 245, 133, 0.911)) ;
  /*background-image: image-url("tent4.png");
  background-repeat: no-repeat;*/
  background-size: cover;
  
}


/* 商品一覧 */

.foto-contents{
  padding-top: 140px;
}

.title {
  text-align: center;
  padding-top: 40px;
  font-family: "M PLUS 1p";
  font-size: 30px;
}

.autoplay{
  padding: 10px 30px;
}

.foto-img {
  width: 33vh;
  height: 33vh;
}

/* キャンプ場名 */


.list{
  display: flex; 
}

/*カレンダー*/
.simple-calendar{
  background-color: #ffffff;
  margin: 30px;
  font-family: "M PLUS 1p";
}

.calendar-heading{
  text-align: center;
}

/* google */


/* 欲しいものリスト */

.item-list {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}
