
.foo.delighter{
  transition: all .3s ease-out;
  transform: translateX(-100%);
  opcity:0;
}

.foo.delighter.started{
  transform: none;
  opcity: 1;
}

.foo.delighter.started.ended{
  border: solid red 10px;
}


.main-background{
  background-image: image-url("nature.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
  width: 100vw;
  height: 100vh;
  z-index:0;
  position: relative;
  /*overflow: hidden;*/
  background-color: rgb(0,163,175);
}

.main-background::before{
  content: '';
  background: inherit;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(100px);
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
}

/*投稿機能*/
.subtitle{
  width: 100px;
  display: flex;
  justify-content: center;
  font-size: large;
  font-weight: bold;
  padding: 5px 10px;
  
}


/* 商品一覧 */

.item-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 140px;
}

.item-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}

.item-contents>.subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #3ccace;
  font-weight: bold;
}

.item-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-lists>.list {
  width: 37vh;
  padding: 1vw;
}


.item-img-content {
  position: relative;
}

.item-img {
  width: 33vh;
  height: 33vh;
}

.item-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.item-name {
  font-size: 2.5vh;
}

.item-price {
  font-size: 1.5vh;
  display: flex;
  justify-content: space-between;
}


.star-btn {
  display: flex;
  align-items: center;
}

.star-icon {
  height: 2vh;
  width: 2vh;
  margin-right: 0.5vw;
}

.star-count {
  font-size: 2vh;
}

/* //商品一覧 */