<div class="holder">
    <div class="txt">
      <h1>Camp! camp! camp!</h1>
      <p>Let's camping!!</p>
    </div>
</div>
  <div class="area">
    <h2>あなたが求めていたものは</h2>
    <h2>キャンプだけの思い出を綴る</h2>
    <h2>キャンプ専用アプリではないでしょうか？</h2>   
  </div>
<div class="holder2">
  <div class="txt1" data-delighter>
  <ul>
    <li class="txt2"><h1>自分だけのためのアプリがついに登場！</h1></li>
    <li class="txt2"><h1>最新のキャンプをすぐに確認！</h1></li>
    <li class="txt2"><h1>キャンプの思い出をまとめて保存！</h1></li>
    <li class="txt2"><h1>アイテムもいっしょに保存！</h1></li>
    <li class="txt2"><h1>過去に行ったキャンプ場がすぐにわかる！</h1></li>
    <li class="txt2"><h1>欲しいものをその場で検索！</h1></li>
    </ul>
    <%= link_to "Learn More","#"%>
</div>
</div>

<%= render "shared/hooter"%>