/*フォント*/
@import url(https://fonts.googleapis.com/css2?family=Nerko+One&display=swap);
/*icon*/
@import url(https://fonts.googleapis.com/css2?family=Nerko+One&display=swap);



a {
  color: black;
}

/*header*/
.icon{
  border-bottom: 4px solid black;
  background-color: rgba(248, 247, 246, 0.192);
  border-radius: 20px;
  text-decoration: none;
}

.header {
  position: fixed;
  width: 100vw;
  height: 30px;
  z-index: 99;
  font-family: 'Nerko One', cursive;
  font-size: 30px;
}

.bar{
  text-align: right;
  font-size: 20px;
  font-family: "M PLUS 1p";
}

.grid-7{
  margin-right: 30px;
  padding: 10px 40px 0 0;
}

.grid-8{
  display: flex;
  margin-top: 15px;
  align-items: center;
  justify-content: space-around;
}
.grid-9{
  display: flex;
  margin-top: 15px;
  float: right;
}

.g-1:hover{
  transform: scale(1.3, 1.3)
}

.g-2:hover{
  transform: scale(1.3, 1.3)
}

.g-3:hover{
  transform: scale(1.3, 1.3)
}

.g-4{
  margin: 0 20px;
  background-color: rgba(248, 247, 246, 0.534);
  padding: 0 20px;
  border: 1px solid rgba(248, 247, 246, 0.534);
  border-radius: 20px;
}

.g-4:hover{
  transform: scale(1.3, 1.3)
}

.g-5{
  margin: 0 20px;
  background-color: rgba(248, 247, 246, 0.534);
  padding: 0 20px;
  border: 1px solid rgba(248, 247, 246, 0.534);
  border-radius: 20px;
}

.g-5:hover{
  transform: scale(1.3, 1.3)
}

/*hooter*/

.footer{
  background-color: #ffffff;
  overflow: hidden;
  width: 100vw;
  height: 70px;
  margin-top: 20px;
  font-family: "M PLUS 1p";
}

.icon2{
  font-family: 'Nerko One', cursive;
  font-size: 25px;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.details{
  display: flex;
  justify-content: space-around;
  margin: 10px;
  font-family: "M PLUS 1p";
}

.footer-link{
  text-decoration: none;
}